<nav>

    <div class="site-title">
        <h1>
          <a href="/">
            I-Ronin
          </a>
        </h1>
        <h2><%= headings_title %> </h2>
        <p>Internet Ronin Site</p>
    </div>

    <ul>
        <li>
            <a href="/">
                Blogs
            </a>
        </li>
        <li>
            <a href="/about">
                About
            </a>
        </li>
        <li>
            <a href="/blogs/create">
                New Blog
            </a>
        </li>
    </ul>

</nav>
