<!DOCTYPE html>
<html lang="en">
    <%- include('./partials_views_app/head.ejs') %> 
<body>
    <div class="site-title">
        <h1>
            <a href="/">
                I-Ronin
            </a>
        </h1>
    </div>

    <div class="not-found content">
        <h1>Oops!</h1>
        <h2>Page not found~</h2>
        <h3>Goto another page instead?</h3>
    </div>
    <nav>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About Inet Ronin</a></li>
        </ul>
    </nav>
</body>
</html>