<!DOCTYPE html>
<html lang="en">
    <%- include('./partials_views_app/head.ejs') %> 
<body>
    <%- include('./partials_views_app/nav.ejs')  %>
    
        <div class="about content">
            <h2>
                About Us
            </h2>
            
            <p>Happily makes the internet self-taught Ronin enjoy</p>
            <p>their journey process to understand about bloging exprience</p>
            
        </div>
        
        <%- include('./partials_views_app/footer.ejs')  %>
        
</body>
</html>